.about{
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 30px;

}
.about-left{

  flex-basis: 60%;
}
.about-left p{
  font-size: 22px;
  padding: 20px;
  color: #6d6c87;
  background: #f2f2f0;
  border-radius: 10px;


}
.about-right img{
  width: 300px;
  border-radius: 20px;

}
#about-f{
  margin-top: 2px;
  color: #292457 !important;
  border: 2px solid #f9c423;
  
}


/* Media Query */


@media (max-width:890px) {
  .about-left{
    flex-basis: 100%;
    order: 2;
  }
  .about-right{
    flex-basis: 100%;
    text-align: center;
  }
  
}